<p id="notice"><%= notice %></p>

<div class="row">
	
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<div class="card">
				<div class="card-header">
					<div class="float-left">
							<strong><h3>Relojes</h3></strong>
					</div>
					<div class="float-right">
							<%= link_to 'Nuevo Reloj', new_reloj_path, class: "btn btn-outline-warning btn-sm" %>
					</div>
				</div>
				<div class="col-md-12 my-2">
					<table class="datatable table  table-condensed table-hover table-striped display responsive no-wrap" id="tablas">
						<thead>
							<tr>
								<th>Minuto</th>
								<th>Acción</th>
							</tr>
						</thead>
						<tbody>
							<% @relojes.each do |reloj| %>
								<tr>
									<td><%= reloj.minuto %></td>
									<td><%= link_to '', reloj, class:'fa fa-eye btn btn-sm btn-outline-primary', title: 'Ver/Editar/Borrar' %></td>
								</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
</div>
<div class="col-md-2"></div>
<br>

<%= render '/home/botones_generales' %>
