<p id="notice"><%= notice %></p>

<%= render '/home/encabezado' %>

<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<div class="card">
				<div class="card-header">
					<div class="float-left">
							<strong><h3>Relojes</h3></strong>
					</div>
					<div class="float-right">
							<%= render 'new' %>
					</div>
				</div>
				<div class="col-md-12 my-2">
					<table class="datatable table  table-condensed table-hover table-striped display responsive no-wrap" id="tablas">
						<thead>
							<tr>
								<th>Minuto</th>
							</tr>
						</thead>
						<tbody>
							<% @relojes.each do |reloj| %>
								<tr data-link="<%= reloj_path(reloj) %>"">
									<td><%= reloj.minuto %></td>
								</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
</div>
<div class="col-md-2"></div>
<br>
