<%= form_with(model: numero, local: true) do |form| %>

  <div class="field">
    <%= form.label :canal %>
    <%= form.select(:canal_id, Canal.all.collect {|u| ["#{u.nombre}", u.id]}, { :include_blank => 'Seleccione un canal' }, :required => true) %>
  </div>

  <div class="field">
    <%= form.label :inversion %>
    <%= form.number_field :inversion %>
  </div>

  <div class="field">
    <%= form.label :fondo %>
    <%= form.number_field :fondo %>
  </div>

  <div class="field">
    <%= form.label :porcentaje %>
    <%= form.number_field :porcentaje %>
  </div>

  <div class="actions">
    <%= form.submit "Guardar" %>
  </div>
<% end %>
