<p id="notice"><%= notice %></p>

<h1>Numeros</h1>

<table class="datatable table table-hover table-striped display responsive no-wrap" id="tablas">
  <thead>
    <tr>
      <th>Inversion</th>
      <th>Fondo</th>
      <th>Porcentaje</th>
      <th>Acción</th>
    </tr>
  </thead>

  <tbody>
    <% @numeros.each do |numero| %>
      <tr>
        <td><%= numero.inversion %></td>
        <td><%= numero.fondo %></td>
        <td><%= numero.porcentaje %></td>
        <td><%= link_to 'Mostrar', numero %></td>
        <td><%= link_to '', numero, class:'fa fa-eye btn btn-sm btn-outline-primary', title: 'Ver/Editar/Borrar' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Número', new_numero_path %>
