<p id="notice"><%= notice %></p>

<%= render '/home/encabezado' %>

<div class="card">
		<div class="card-header">
			<div class="float-left">
					<strong><h3>Canales</h3></strong>
			</div>
			<div class="float-right">
					<%= render 'new' %>
			</div>
		</div>
		<div class="col-md-12 my-2">
				<table class="datatable table table-hover table-striped display responsive no-wrap" id="tablas">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Ganadas</th>
							<th>Perdidas</th>
							<th>Empatadas</th>
							<th>Asertividad</th>
							<th>Balance</th>
						</tr>
					</thead>

					<tbody>
						<% @canales.each do |canal| %>
							<tr data-link="<%= canal_path(canal) %>">
								<td><%= canal.nombre %></td>
								<td><%= canal.ganadas %></td>
								<td><%= canal.perdidas %></td>
								<td><%= canal.empatadas %></td>
								<td><%= "#{'%.2f' % canal.asertividad} %" %></td>
								<td class="<%= color(canal.balance) %>"><%= number_to_currency(canal.balance, unit: "USD ", separator: ",", delimiter: ".", precision: 2) %></td>
							</tr>
						<% end %>
					</tbody>
				</table>
		</div>
</div>
