<%= render '/home/encabezado' %>
<%= render 'layouts/mensajes' %>
<hr>
<center>
	<h3>
		Nombre del Canal:
		<strong><%= @canal.nombre %></strong>
	</h3>
	<br>

	<%= link_to 'Editar', edit_canal_path(@canal), class:'btn btn-sm btn-outline-success', title: 'Editar' %>
	<%= link_to 'Borrar', @canal, class:'btn btn-sm btn-outline-danger', method: :delete, data: { title: '¿Está usted seguro?', confirm: ' ', verify: 'si', verify_text: 'Escriba "si" para confirmar', commit: 'Confirma', cancel: 'Cancela' } %>
</center>
<hr>
