<%= render '/home/encabezado' %>
<center>
<h1>
<%= @str.capitalize %>
</h1>
</center>

  <div class="row">
    <div class="col-md-6">
      <%= form_for(@encrypta, url: @url, html: { method: :post })  do |form| %>
        <% if @encrypta.errors.any? %>
          <div id="error_explanation">
            <ul>
            <% @encrypta.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= form.label :inicial %>
          <%= form.number_field :inicial %>
        </div>
        <br>

        <div class="field">
          <%= form.label :clave %>
          <%= form.text_area :clave, :rows => 1, :cols => 55, :class => "form-control" %>
        </div>
        <br>
        <div class="field">
          <%= form.label :mensaje %>
          <%= form.text_area :mensaje, :rows => 4, :cols => 55, :class => "form-control" %>
        </div>
        <br>
        <center>
          <button type="submit" class="btn btn-outline-dark letra-negra largo"><%= @str.capitalize %></button>
        </center>
      <% end %>

    </div>
      <div class="col-md-6" align="left">
        <br><br>
        <h5>
          <% if @cifrado %>
            <b>Mensaje cifrado:</b><br><br><%= @cifrado %>
            <br><br><br><br>
          <% end %>
          <% if @descifrado %>
            <b>Mensaje descifrado:</b><br><br><%= @descifrado %>
          <% end %>
        </h5>
      </div>

  </div>

</h3>