<% opcion = Opcion.all %>
<% monto = opcion.where(resultado: 'G').size.to_f * 100 / opcion.all.size %>
<% balance = opcion.saldo_total - Numero.first.fondo %>
<br>
<br>
<br>
<br>
<br>
<h4>
	<div class="row">
		<div class="col-md-6" align="right">
				Fondo
		</div>
		<div class="col-md-6" align="left">
				<%= number_to_currency(Numero.first.fondo, unit: "USD ", separator: ",", delimiter: ".", precision: 2) %>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-6" align="right">
				Saldo
		</div>
		<div class="col-md-6" align="left">
				<%= number_to_currency(opcion.saldo_total, unit: "USD ", separator: ",", delimiter: ".", precision: 2) %>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-6" align="right">
				Ganados
		</div>
		<div class="col-md-6" align="left">
			<%= "#{opcion.where(resultado: 'G').size}" %>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-6" align="right">
				Perdidos
		</div>
		<div class="col-md-6" align="left">
				<%= "#{opcion.where(resultado: 'P').size}" %>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-6" align="right">
				Empatados
		</div>
		<div class="col-md-6" align="left">
				<%= "#{opcion.where(resultado: 'E').size}" %>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-6" align="right">
				Balance general
		</div>
		<div class="col-md-6 <%= color(balance) %>" align="left">
				<strong><%= number_to_currency(balance, unit: "USD ", separator: ",", delimiter: ".", precision: 2) %></strong>
		</div>
	</div>
</h4>
<br>
