<% opcion = Opcion.all %>
<% monto = opcion.where(resultado: 'G').size.to_f * 100 / opcion.all.size %>
<% balance = opcion.saldo_total - Numero.first.fondo %>
<br>
<br>
<br>
<br>
<br>
<table>
	<tbody>
	
		<tr>
			<td><h4>Fondo:</h4></td>
			<td><h4>
			<%= number_to_currency(Numero.first.fondo, unit: "USD ", separator: ",", delimiter: ".", precision: 2) %>
			</h4></td>
		</tr>
		<tr>
			<td><h4>Saldo:</h4></td>
			<td><b><h4><%= number_to_currency(opcion.saldo_total, unit: "USD ", separator: ",", delimiter: ".", precision: 2) %></h4></b></td>
		</tr>
		<tr>
			<td><h4>Ganados:</h4></td>
			<td><h4><%= "#{opcion.where(resultado: 'G').size}" %></h4></td>
		</tr>
		<tr>
			<td><h4>Perdidos:</h4></td>
			<td><h4><%= "#{opcion.where(resultado: 'P').size}" %></h4></td>
		</tr>
		<tr>
			<td><h4>Empatados:</h4></td>
			<td><h4><%= "#{opcion.where(resultado: 'E').size}" %></h4></td>
		</tr>
		<tr><td></td></tr>
		<tr>
			<td><h5>Balance general:</h5></td>
			<td class="<%= color(balance) %>"><b><h3><%= number_to_currency(balance, unit: "USD ", separator: ",", delimiter: ".", precision: 2) %><h3></b></td>
		</tr>
	</tbody>
</table>
