<%= form_with(model: @opcion, local: true) do |form| %>

  <table>
    <thead>
      <tr>
        <th>Canal</th>
        <th>Par</th>
        <th>Inversión</th>
        <th>Reloj</th>
        <th>Porcentaje</th>
        <th>Acción</th>
        <th>Resultado</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="field">
            <%= form.select(:canal_id, Canal.all.order(nombre: :asc).collect {|u| ["#{u.nombre}", u.id]}, { :include_blank => 'Seleccione un par' }, :required => true) %>
          </div>
        </td>
        <td>
          <div class="field">
            <%= form.select(:par_id, Par.all.order(nombre: :asc).collect {|u| ["#{u.nombre}", u.id]}, { :include_blank => 'Seleccione un par' }, :required => true, :style => "width:110px") %>
          </div>
        </td>
        <td>
          <div class="field">
            <%= form.number_field :inversion, :required => true, :min => 1, :size => '4' %>USD
          </div>
        </td>
        <td>
          <div class="field">
            <%= form.select(:reloj_id, Reloj.all.collect {|u| ["#{u.minuto} minuto#{u.minuto > 1 ? 's': ''}", u.id]}, { :include_blank => 'Seleccione un reloj' }, :required => true, :style => "width:110px") %>
          </div>
        </td>
        <td>
          <div class="field">
            <%= form.number_field :porcentaje, :required => true, :min => 1, :size => '4' %>%
          </div>
        </td>
        <td>
          <div class="field">
            <%= form.select(:tipo, options_for_select(["Compra","Venta"]), { :include_blank => 'Seleccione uno' }, :required => true) %>
          </div>
        </td>
        <td>
          <div class="field">
            <%= form.select(:resultado, options_for_select([["Ganado","G"],["Perdido","P"],["Empatado","E"]]), { :include_blank => 'Seleccione uno' }, :required => true) %>
          </div>
        </td>
        <td>
          <div class="">
            <%= form.button "Guardar", class: "btn btn-outline-warning letra-negra btn-sm mb-3 mx-1" %>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

<% end %>
