<p id="notice"><%= notice %></p>

<%= render '/home/encabezado' %>

<div class="card">
    <div class="card-header">
      <div class="float-left">
          <strong><h3>IQ opciones</h3></strong>
      </div>
      <div class="float-right">
          <%= link_to 'Nueva Opción', new_opcion_path, class: "btn btn-outline-warning btn-sm" %>
      </div>
    </div>
    <div class="col-md-12 my-2">
      <table class="datatable table table-hover table-striped display responsive no-wrap" id="tablas">
        <thead>
          <tr>
            <th>Juliano</th>
            <th>Inversión</th>
            <th>Par</th>
            <th>Minuto</th>
            <th>Resultado</th>
            <th>Porcentaje</th>
            <th>Monto</th>
          </tr>
        </thead>
        <tbody>
          <% @opciones.each do |opcion| %>
            <tr class="<%= color(opcion.saldo) %>">
              <td><%= opcion.juliano %></td>
              <td><%= opcion.inversion %> USD</td>
              <td><%= opcion.par.nombre %></td>
              <!-- <td><%#= image_tag(opcion.par.imagen_url) %></td> -->
              <td><%= opcion.reloj.minuto %></td>
              <td><%= resultado(opcion.resultado) %></td>
              <td><%= "#{opcion.porcentaje} %" %></td>
              <td><%= number_to_currency(opcion.saldo, unit: "USD ", separator: ",", delimiter: ".", precision: 2) %></td>
              <!--         
              <td><%#= link_to 'Mostrar', opcion %></td>
              <td><%#= link_to 'Editar', edit_opcion_path(opcion) %></td>
              <td><%#= link_to 'Borrar', reloj, method: :delete, data: { title: '¿Está usted seguro?', confirm: ' ', verify: 'si', verify_text: 'Escriba "si" para confirmar', commit: 'Confirma', cancel: 'Cancela' } %></td>
               -->
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
</div>