<%= form_with(model: encrypta, local: true) do |form| %>
  <% if encrypta.errors.any? %>
    <div id="error_explanation">

      <ul>
      <% encrypta.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :inicial %>
    <%= form.number_field :inicial %>
  </div>

  <div class="field">
    <%= form.label :clave_de_salida %>
    <%= form.text_field :clave %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
