<p id="notice"><%= notice %></p>

<%= render '/home/encabezado' %>

<div class="card">
		<div class="card-header">
			<div class="float-left">
					<strong><h3>Pares</h3></strong>
			</div>
			<div class="float-right">
					<%= link_to 'Nuevo Par', new_par_path, class: "btn btn-outline-warning btn-sm" %>
			</div>
		</div>
		<div class="col-md-12 my-2">
		<table class="datatable table table-hover table-striped display responsive no-wrap" id="tablas">
			<thead>
				<tr>
					<th>#</th>
					<th>Nombre</th>
					<th>Ganadas</th>
					<th>Perdidas</th>
					<th>Empatadas</th>
					<th>Asertividad</th>
					<!-- <th>Imagen</th> -->
					<th>Acción</th>
				</tr>
			</thead>
			<tbody>
				<% @pares.each.with_index(1) do |par, ind| %>
					<tr>
						<td><%= ind %></td>
						<td><%= par.nombre %></td>
						<td><%= par.ganadas.zero?     ? '-' : par.ganadas %></td>
						<td><%= par.perdidas.zero?    ? '-' : par.perdidas %></td>
						<td><%= par.empatadas.zero?   ? '-' : par.empatadas %></td>
						<td><%= par.asertividad.zero? ? '-' : "#{'%.2f' % par.asertividad} %" %></td>
						<!-- <td><%#= image_tag(par.imagen_url, size: '100x36') if par.imagen? %></td> -->
						<td><%= link_to '', par, class:'fa fa-eye btn btn-sm btn-outline-primary', title: 'Ver/Editar/Borrar' %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
</div>
</div>
<br>
