<p id="notice"><%= notice %></p>

<p>
  <strong>Par:</strong>
  <%= @par.nombre %>
</p>

<!-- <p>
  <%#= image_tag(@par.imagen_url) %>
</p> -->

<%= link_to 'Nuevo Par', new_par_path %> |
<%= link_to 'Editar', edit_par_path(@par) %> |
<%= link_to 'Regresar al listado', pares_path %>
<%= render '/home/botones_generales' %>
